@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: black;
  h2 {
    margin-bottom: 15px;
    font-size: 3rem;
    line-height: 1.5;
    letter-spacing: -0.0083em;
  }
  h6 {
    color: darkgray;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.00714em;
  }
}

img[_ngcontent-yqd-c145], video[_ngcontent-yqd-c145] {
  padding: 4px;
}

.banner{
  height: 200px;
  width: 100%;
}

:host::ng-deep .mat-elevation-z8{
 box-shadow: none !important;
}

