<mat-toolbar class="flex justify-between bg-slate-100	">
  <span class="">CRYPTO CHECKER</span>
  <span class="example-spacer"></span>
  <button (click)="getCurrency()" mat-stroked-button color="primary" class="py-1.5 px-4">{{currency | uppercase}}</button>

</mat-toolbar>
<div class=" mx-auto container ">
  <div class="">
    <nav class="flex" aria-label="Breadcrumb">
      <ol class="inline-flex items-center space-x-1 md:space-x-3">
        <li class="inline-flex items-center">
          <a (click)="backToHome()"
             class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-blue-600 dark:text-gray-400 dark:hover:text-white">
            <svg aria-hidden="true" class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
            </svg>
            Home
          </a>
        </li>
        <li>
          <div class="flex items-center">
            <svg aria-hidden="true" class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd"></path>
            </svg>
            <a
              class="ml-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ml-2 dark:text-gray-400 dark:hover:text-white">{{coin_name}}</a>
          </div>
        </li>
      </ol>
    </nav>

    <div class="" #getDivForWidth>
      <div class="w-full flex gap-3">
        <div>
          <img class="object-contain" src="{{coin_image}}">
        </div>
        <div class="sm:block gap-4 md:flex" >
          <h2 class="text-base"><span>Market Cap Rank: </span>
            <span>{{coin_marketCapRank}}</span>
          </h2>
          <h2 class="text-base"><span>Current Market Price: </span>
            <span>{{coin_currentPrise |currency:currencyPipe}}</span>
          </h2>
        </div>
        <div class="sm:block gap-4 md:flex">
          <h2 class="text-base	"><span>High of 24h: </span>
            <span class="text-green-800 ">{{coin_high_24hs |currency:currencyPipe}}</span>
          </h2>
          <h2 class="text-base	"><span>Low Of 24h: </span>
            <span class="text-red-700">{{coin_low_24hs |currency:currencyPipe}}</span>
          </h2>
        </div>
      </div>

    </div>

  </div>
  <highcharts-chart class="overflow-scroll"
                    [Highcharts]="Highcharts"
                    [constructorType]="'stockChart'"
                    [options]="chartOptions">
  </highcharts-chart>

</div>
