@import "src/app/app.component.scss";


.header {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  color: black;
  h2 {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 3.75rem;
    line-height: 1.2;
    letter-spacing: -0.0083em;
  }
  h6 {
    color: darkgray;
    text-transform: capitalize;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.57;
    letter-spacing: 0.00714em;
  }
}

img[_ngcontent-yqd-c145], video[_ngcontent-yqd-c145] {
  padding: 4px;
}
//.mat-mdc-form-field{
//  width: 100%;
//}
.banner{
  height: 200px;
  width: 100%;
}

.justify-between[_ngcontent-pqd-c151]{
  //background: aliceblue;
}

.text-slate-50{
 // background: aliceblue;
}


:host::ng-deep .mat-elevation-z8{
 box-shadow: none !important;
}
